<br><br><br><br>



<div class="blog col-xs-10 col-xs-offset-1 col-md-8">





	<div align="center" class="blogimage">
		<%= image_tag @post.image.url(:large), :class => "img-responsive"%>
	</div>





		<div id="post_content">
			<h1 class="title" align="center">
			<%= @post.title %>
			</h1>


			<p class="date" align="center">
			Submitted <%= time_ago_in_words(@post.created_at) %> Ago
			<% if user_signed_in? %>
				| <%= link_to 'Edit', edit_post_path(@post) %>
				| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			</p>

			<p class="body">
				<%= markdown @post.body %>
			</p>
		</div>	
</div>



<!-- Recent Articles -->
	<div class="recent col-xs-3" align="left" style="padding-left: 70px;">
		<% @posts.each do |post| %>
		<div class="postspace"><br>
		<h2 class="title2"><%= link_to post.title.truncate(14, omission: '...'), post %></h2>
		<%= image_tag post.image.url(:thumbnail) %>
		<p class="date"><%= post.created_at.strftime("%B, %d %Y") %></p>
	</div>
<% end %>
</div>




<!-- Comment Section -->
<div class="col-xs-10 col-xs-offset-1">
<br><br><br>
<%= render 'disqus' %>
</div>