<!DOCTYPE html>
<html>
<head>
  <title>Thecodefather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

<header>


<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
      <div class="[ container ]">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="[ navbar-header ]">
        <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="[ sr-only ]">Toggle navigation</span>
          <span class="[ icon-bar ]"></span>
          <span class="[ icon-bar ]"></span>
          <span class="[ icon-bar ]"></span>
        </button>
        <div class="[ animbrand ]">
          <a class="[ navbar-brand ][ animate ]" href="#">TheCodeFather</a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
        <ul class="[ nav navbar-nav navbar-right ]">
          <li class="[ visible-xs ]">
           <!--
            <form action="http://bootsnipp.com/search" method="GET" role="search">
              <div class="[ input-group ]">
                <input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets">
                <span class="[ input-group-btn ]">
                  <button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>
                  <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                </span>
              </div>
            </form>
            -->
          </li>
          <li><%= link_to 'Home', '#', class: "animate"%></li>
          <li><%= link_to 'Videos', '#', class: "animate"%></li>
          <li><%= link_to 'Blog', '#', class: "animate"%></li>
          <li><%= link_to 'Snippets', '#', class: "animate"%></li>

<% if !user_signed_in? %>
  <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
<% end %>
    </div>

  </nav>
<script>$(function() { 

    $('a[href="#toggle-search"], .navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn[type="reset"]').on('click', function(event) {
    event.preventDefault();
    $('.navbar-bootsnipp .bootsnipp-search .input-group > input').val('');
    $('.navbar-bootsnipp .bootsnipp-search').toggleClass('open');
    $('a[href="#toggle-search"]').closest('li').toggleClass('active');

    if ($('.navbar-bootsnipp .bootsnipp-search').hasClass('open')) {
      /* I think .focus dosen't like css animations, set timeout to make sure input gets focus */
      setTimeout(function() { 
        $('.navbar-bootsnipp .bootsnipp-search .form-control').focus();
      }, 100);
    }     
  });

  $(document).on('keyup', function(event) {
    if (event.which == 27 && $('.navbar-bootsnipp .bootsnipp-search').hasClass('open')) {
      $('a[href="#toggle-search"]').trigger('click');
    }
  });
    
});</script>


<br><br>
<div id="main_content">
  <div id="header">
    <p>All Posts</p>

  <% if user_signed_in? %>
    <div class="buttons">
      <button class="button"><%= link_to "New Post", new_post_path %>
      <button class="button">Log out</button>
    </div>
  </div>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

  <%= yield %>
</div>






</header>
</body>





</body>
</html>



